{
    "plugins": [
      [
        "@babel/plugin-proposal-class-properties",
        {
          "loose": true
        }
      ],
      [
        "transform-inline-environment-variables", {
          "include": [
            "NODE_ENV"
          ]
        }
      ],
      ["@babel/plugin-transform-regenerator"],
      ["@babel/plugin-transform-runtime"]
    ],
    "presets": [
      [
        "@babel/preset-env", 
        { 
          "useBuiltIns": "entry", 
          "corejs": 3, 
          "targets": { 
            "browsers" : [
              "last 2 versions",
              "> 0.5%",
              "IE 11"
            ],
            "node": "current" 
          },
          "modules" : "commonjs"
        }
      ]
    ]
  }